n8n_workflow_final.json
{
  "name": "MedPredict - Automation Workflow (Corrected)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "medpredict-webhook",
        "options": {}
      },
      "id": "423138dc-6e9b-4cb6-acae-900590075346",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "9e099440-144f-4895-9dde-201857e0ed1e",
                    "leftValue": "={{ $json.body.event }}",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "rightValue": "new_consultation_report"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "6e1adabb-9316-4b30-9b69-146c2e2bc728",
                    "leftValue": "={{ $json.body.event }}",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    },
                    "rightValue": "appointment_confirmed"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "7e1adabb-9316-4b30-9b69-146c2e2bc728",
                    "leftValue": "={{ $json.body.event }}",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "rightValue": "new_prescription"
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "6d486c55-2ee2-46c8-916e-806c477ab186",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        470,
        300
      ]
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "body.file",
        "binaryPropertyName": "attachment",
        "options": {
          "fileName": "={{ $('Webhook').item.json.body.filename || 'document.pdf' }}"
        }
      },
      "id": "8f58f430-ae36-4261-a3d4-493692b9db1f",
      "name": "Convert to File",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        700,
        180
      ]
    },
    {
      "parameters": {
        "fromEmail": "votre-email@gmail.com",
        "toEmail": "={{ $('Webhook').item.json.body.email }}",
        "subject": "=MedPredict : {{ $('Webhook').item.json.body.event === 'appointment_confirmed' ? 'Confirmation de rendez-vous' : ($('Webhook').item.json.body.event === 'new_prescription' ? 'Votre ordonnance' : 'Votre compte-rendu médical') }}",
        "text": "={{ $('Webhook').item.json.body.details }}",
        "options": {
          "attachments": "={{ $('Webhook').item.json.body.event === 'appointment_confirmed' ? '' : 'attachment' }}"
        }
      },
      "id": "1c493a96-faab-4511-b62a-99d197446878",
      "name": "Send Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [
        950,
        300
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  }
}
