workflows.json
[{"updatedAt":"2026-04-09T02:44:26.011Z","createdAt":"2026-04-08T21:39:33.727Z","id":"ijxn3W0FWjGPk8OI","name":"MedPredict - Automation Workflow","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"medpredict-webhook","options":{}},"name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[-208,-96],"id":"423138dc-6e9b-4cb6-acae-900590075346","webhookId":"db7672fe-c4bc-4b7a-bcaa-ebca445512ca"},{"parameters":{"fromEmail":"abdousalou08@gmail.com","toEmail":"={{ $('Webhook').item.json.body.email }}","subject":"=MedPredict : Votre compte-rendu médical ({{ $('Webhook').item.json.body.patient }})","text":"=Bonjour {{ $('Webhook').item.json.body.patient }}, vous trouverez ci-joint votre compte-rendu pour la consultation du {{ $('Webhook').item.json.body.date }}","options":{"attachments":"attachment"}},"name":"Send Email","type":"n8n-nodes-base.emailSend","typeVersion":2,"position":[480,-80],"id":"1c493a96-faab-4511-b62a-99d197446878","webhookId":"0d906079-c3b6-4e99-bfeb-d6c4dd7003be","credentials":{"smtp":{"id":"S5qUthypKZ6KScu9","name":"SMTP account"}}},{"parameters":{"operation":"toBinary","sourceProperty":"=body.file","binaryPropertyName":"attachment","options":{"fileName":"compte-rendu.pdf"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[256,-208],"id":"8f58f430-ae36-4261-a3d4-493692b9db1f","name":"Convert to File"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $json.body.event }}","rightValue":"=new_consultation_report","operator":{"type":"string","operation":"equals"},"id":"9e099440-144f-4895-9dde-201857e0ed1e"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"6e1adabb-9316-4b30-9b69-146c2e2bc728","leftValue":"={{ $json.body.event }}","rightValue":"appointment_confirmed","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[0,-96],"id":"6d486c55-2ee2-46c8-916e-806c477ab186","name":"Switch"}],"connections":{"Webhook":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"Send Email","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Convert to File","type":"main","index":0}],[{"node":"Send Email","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"9fe7d336-9fa0-4b5d-a40f-ad4c24543049","activeVersionId":"9fe7d336-9fa0-4b5d-a40f-ad4c24543049","versionCounter":120,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2026-04-08T21:39:33.739Z","createdAt":"2026-04-08T21:39:33.739Z","role":"workflow:owner","workflowId":"ijxn3W0FWjGPk8OI","projectId":"GRDN2FqjJOp9oaQk","project":{"updatedAt":"2026-04-08T21:35:59.208Z","createdAt":"2026-04-08T20:22:58.929Z","id":"GRDN2FqjJOp9oaQk","name":"Abdou SALOU <abdousalou08@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"c0ccc5fb-9f4d-4227-8d7d-afa387dd3231"}}],"versionMetadata":{"name":"Version 9fe7d336","description":""}}]