n8n/CuraMedical-Notifications.json
{
  "name": "CuraMedical - Notifications (Email + WhatsApp)",
  "nodes": [
    {
      "id": "c3d4e5f6-0003-0003-0003-000000000001",
      "name": "Webhook Notifications",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [-400, 0],
      "webhookId": "prescriptions-curamedical",
      "parameters": {
        "httpMethod": "POST",
        "path": "prescriptions",
        "options": {}
      }
    },
    {
      "id": "c3d4e5f6-0003-0003-0003-000000000002",
      "name": "Switch Événement",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [-150, 0],
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": { "caseSensitive": true, "typeValidation": "strict", "version": 3 },
                "conditions": [
                  {
                    "id": "cond-consultation",
                    "leftValue": "={{ $json.body.event }}",
                    "operator": { "type": "string", "operation": "equals" },
                    "rightValue": "new_consultation_report"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": { "caseSensitive": true, "typeValidation": "strict", "version": 3 },
                "conditions": [
                  {
                    "id": "cond-patient",
                    "leftValue": "={{ $json.body.event }}",
                    "operator": { "type": "string", "operation": "equals" },
                    "rightValue": "new_patient"
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "c3d4e5f6-0003-0003-0003-000000000003",
      "name": "Convertir PDF",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [100, -200],
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "body.file",
        "binaryPropertyName": "attachment",
        "options": {
          "fileName": "={{ $('Webhook Notifications').item.json.body.filename || 'compte_rendu.pdf' }}"
        }
      }
    },
    {
      "id": "c3d4e5f6-0003-0003-0003-000000000004",
      "name": "Email Compte-Rendu",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [380, -200],
      "parameters": {
        "fromEmail": "votre-email@gmail.com",
        "toEmail": "={{ $('Webhook Notifications').item.json.body.email }}",
        "subject": "Votre compte-rendu médical - CuraMedical",
        "emailFormat": "html",
        "html": "=<p>Bonjour <strong>{{ $('Webhook Notifications').item.json.body.patient }}</strong>,</p><p>{{ $('Webhook Notifications').item.json.body.details }}</p><p>Veuillez trouver ci-joint votre compte-rendu médical établi par <strong>{{ $('Webhook Notifications').item.json.body.doctor }}</strong> le {{ $('Webhook Notifications').item.json.body.date }}.</p><p>Merci de votre confiance,<br><strong>CuraMedical</strong></p>",
        "options": {
          "attachments": "attachment"
        }
      },
      "credentials": {
        "smtp": {
          "id": "SMTP_CREDENTIAL_ID",
          "name": "SMTP account"
        }
      }
    },
    {
      "id": "c3d4e5f6-0003-0003-0003-000000000005",
      "name": "WhatsApp Compte-Rendu",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [380, -50],
      "parameters": {
        "to": "=whatsapp:{{ $('Webhook Notifications').item.json.body.patient_tel }}",
        "from": "whatsapp:+14155238886",
        "body": "=📋 Bonjour {{ $('Webhook Notifications').item.json.body.patient }},\n\nVotre compte-rendu médical établi par {{ $('Webhook Notifications').item.json.body.doctor }} le {{ $('Webhook Notifications').item.json.body.date }} est disponible.\n\nVous l'avez reçu par email. Consultez également votre espace patient.\n\n🏥 CuraMedical"
      },
      "credentials": {
        "twilioApi": {
          "id": "TWILIO_CREDENTIAL_ID",
          "name": "Twilio account"
        }
      }
    },
    {
      "id": "c3d4e5f6-0003-0003-0003-000000000006",
      "name": "Email Bienvenue Patient",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [100, 200],
      "parameters": {
        "fromEmail": "votre-email@gmail.com",
        "toEmail": "={{ $json.body.email }}",
        "subject": "Bienvenue sur CuraMedical !",
        "emailFormat": "html",
        "html": "=<p>Bonjour <strong>{{ $json.body.patient }}</strong>,</p><p>{{ $json.body.details }}</p><p>Votre dossier patient a été créé le {{ $json.body.date }}. Vous pouvez dès maintenant consulter votre espace patient.</p><p>Bienvenue et merci de votre confiance,<br><strong>CuraMedical</strong></p>",
        "options": {}
      },
      "credentials": {
        "smtp": {
          "id": "SMTP_CREDENTIAL_ID",
          "name": "SMTP account"
        }
      }
    },
    {
      "id": "c3d4e5f6-0003-0003-0003-000000000007",
      "name": "WhatsApp Bienvenue Patient",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [380, 200],
      "parameters": {
        "to": "=whatsapp:{{ $json.body.patient_tel }}",
        "from": "whatsapp:+14155238886",
        "body": "=👋 Bienvenue sur CuraMedical !\n\nBonjour {{ $json.body.patient }},\n\nVotre dossier patient a été créé avec succès le {{ $json.body.date }}.\n\nVous pouvez dès maintenant accéder à votre espace patient.\n\nL'équipe CuraMedical 🏥"
      },
      "credentials": {
        "twilioApi": {
          "id": "TWILIO_CREDENTIAL_ID",
          "name": "Twilio account"
        }
      }
    }
  ],
  "connections": {
    "Webhook Notifications": {
      "main": [[{ "node": "Switch Événement", "type": "main", "index": 0 }]]
    },
    "Switch Événement": {
      "main": [
        [{ "node": "Convertir PDF", "type": "main", "index": 0 }],
        [{ "node": "Email Bienvenue Patient", "type": "main", "index": 0 }]
      ]
    },
    "Convertir PDF": {
      "main": [
        [
          { "node": "Email Compte-Rendu", "type": "main", "index": 0 },
          { "node": "WhatsApp Compte-Rendu", "type": "main", "index": 0 }
        ]
      ]
    },
    "Email Bienvenue Patient": {
      "main": [[{ "node": "WhatsApp Bienvenue Patient", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "tags": []
}
