n8n/Rappel-24h.json
{
  "name": "Rappel-24h - Email + WhatsApp",
  "nodes": [
    {
      "id": "a1b2c3d4-0001-0001-0001-000000000001",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [-400, 0],
      "parameters": {
        "rule": {
          "interval": [{ "triggerAtHour": 8 }]
        }
      }
    },
    {
      "id": "a1b2c3d4-0001-0001-0001-000000000002",
      "name": "Obtenir Token JWT",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [-150, 0],
      "parameters": {
        "method": "POST",
        "url": "http://backend:8000/api/token/",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "username", "value": "admin" },
            { "name": "password", "value": "admin" }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "a1b2c3d4-0001-0001-0001-000000000003",
      "name": "RDV de demain",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [100, 0],
      "parameters": {
        "url": "http://backend:8000/api/appointments/",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "date_min", "value": "={{ $now.plus({days:1}).toISODate() }}" },
            { "name": "date_max", "value": "={{ $now.plus({days:1}).toISODate() }}" }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $json.access }}" }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "a1b2c3d4-0001-0001-0001-000000000004",
      "name": "Split Out",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [350, 0],
      "parameters": {
        "fieldToSplitOut": "results",
        "options": {}
      }
    },
    {
      "id": "a1b2c3d4-0001-0001-0001-000000000005",
      "name": "Email Rappel RDV",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [600, -120],
      "parameters": {
        "fromEmail": "votre-email@gmail.com",
        "toEmail": "={{ $json.patient_email }}",
        "subject": "Rappel de votre rendez-vous demain - CuraMedical",
        "emailFormat": "html",
        "html": "=<p>Bonjour <strong>{{ $json.patient_nom }}</strong>,</p><p>Nous vous rappelons votre rendez-vous de <strong>demain</strong> à <strong>{{ $json.date_heure.split('T')[1].substring(0,5) }}</strong> avec <strong>{{ $json.medecin_nom }}</strong>.</p><p>Motif : {{ $json.motif || 'Consultation' }}</p><p>Merci de votre confiance,<br><strong>CuraMedical</strong></p>",
        "options": {}
      },
      "credentials": {
        "smtp": {
          "id": "SMTP_CREDENTIAL_ID",
          "name": "SMTP account"
        }
      }
    },
    {
      "id": "a1b2c3d4-0001-0001-0001-000000000006",
      "name": "WhatsApp Rappel RDV",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [600, 120],
      "parameters": {
        "to": "=whatsapp:{{ $json.patient_tel }}",
        "from": "whatsapp:+14155238886",
        "body": "=⏰ Rappel CuraMedical\n\nBonjour {{ $json.patient_nom }},\n\nVous avez un rendez-vous DEMAIN à {{ $json.date_heure.split('T')[1].substring(0,5) }} avec {{ $json.medecin_nom }}.\n\nMotif : {{ $json.motif || 'Consultation' }}\n\nÀ demain !"
      },
      "credentials": {
        "twilioApi": {
          "id": "TWILIO_CREDENTIAL_ID",
          "name": "Twilio account"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [[{ "node": "Obtenir Token JWT", "type": "main", "index": 0 }]]
    },
    "Obtenir Token JWT": {
      "main": [[{ "node": "RDV de demain", "type": "main", "index": 0 }]]
    },
    "RDV de demain": {
      "main": [[{ "node": "Split Out", "type": "main", "index": 0 }]]
    },
    "Split Out": {
      "main": [
        [
          { "node": "Email Rappel RDV", "type": "main", "index": 0 },
          { "node": "WhatsApp Rappel RDV", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "tags": []
}
